{% extends "store/main.html" %}

{% load static %}

{% block content %}



  

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h3 class="my-4">Shop by Categorys</h3>
        
        <div class="list-group">
        

          {% for c in categories %}
          <li {% if category.slug == c.slug %}class="selected" {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>        
         </li>
          {% endfor %}    
        </div>
        </div>
    
      <!-- /.col-lg-3 -->
      
      <div class="col-lg-9">
       
        <div class="row">    
         
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
           
            <div class="card h-100">              
              <a href="{{ product.get_absolute_url }}">
              <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt=""></a>
              
              <div class="card-body">
               
                <h5 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>                  
                </h4>
                <h5>${{ product.price }}</h5>
                <p class="card-text"> {{ product.description|truncatewords:15|linebreaks }}</p>               
               
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
             
            </div>
          
          </div>
          {% endfor %}
        </div>
     
        <!-- /.row -->


      </div>
      <!-- /.col-lg-9 -->
      

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



  {% endblock %}